h1 {
    text-align:center;
    font-size:22pt;
    font-family: Constantia
}
h2 {
    text-align:center;
    font-size:18pt;
    font-family:Constantia
}
body {
    text-align:left;
    font-size:12pt;
    font-family:Arial
}
