<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.7.2" targetFramework="net40" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net40" />
  <package id="TinyMCE" version="4.0.28" targetFramework="net40" />
</packages>