<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PICUdrugs.SiteMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="UTF-8">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
    <link href="<%# ResolveUrl("~/Content/PICUdrugsGenericStyles.css")%>" rel="stylesheet" type="text/css" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <!--[if lt IE 8]><link href="<%# ResolveUrl("~/Content/ie6and7DataEntry.css")%>" rel="stylesheet" type="text/css"/><![endif]-->
    <asp:ContentPlaceHolder runat="server" ID="masterStyles" />
    <title>paediatric drugs
    </title>
</head>
<body>
    <noscript>
        <p>
            Please note that you have JavaScript disabled. Some program features will not function, and important safety calculations will be ommited. It is advised you enable JavaScript before continuing.
        </p>
    </noscript>

     <form ID="mainForm" runat="server" class="mainForm form-inline">
        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />
        <asp:ScriptManager runat="server" ID="ScriptManager1" OnLoad="ScriptManager1_Load"
                    EnablePageMethods="true" EnableScriptGlobalization="true">
            <Scripts>
                <asp:ScriptReference Path="~/scripts/Bootstrap.min.js" />
            </Scripts>
        </asp:ScriptManager>
        <asp:ContentPlaceHolder runat="server" ID="MasterScripts">
        </asp:ContentPlaceHolder>
        <header class="clearfix">
            <nav class="navbar navbar-default navbar-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#" title="calculators for hospitalised children">PaediatricDrugs.net</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <asp:Menu ID="sideMenu" 
                        runat="server" 
                        DataSourceID="SiteMapDataSource1" 
                        RenderingMode="List"
                        EnableViewState="false" 
                        MaximumDynamicDisplayLevels="2" 
                        StaticDisplayLevels="3" 
                        Orientation="Horizontal" 
                        DynamicPopOutImageUrl="/content/images/arrow.png" 
                        StaticEnableDefaultPopOutImage="False"
                        CssClass="nav navbar-nav navbar-left" 
                        StaticMenuStyle-CssClass="nav navbar-nav" 
                        StaticSelectedStyle-CssClass="active"
                        DynamicMenuStyle-CssClass="dropdown-menu" 
                        IncludeStyleBlock="false"
                        SkipLinkText="">
                    </asp:Menu>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="login-widget" >
                            <asp:LoginStatus ID="LoginStatus1" runat="server" EnableTheming="False" 
                                EnableViewState="False" CssClass="sideMenu" LogoutPageUrl="~/EnterPtData.aspx" />
                        </li>
                    </ul>
                </div><!--navbar-collapse-->
            </div><!--container-->
        </nav>
    </header>
    <section class="container">
        <div id="content">
            <asp:ContentPlaceHolder runat="server" ID="headings" />
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
    </section>
    <footer class="footer">

    </footer>
</form>     
</body>
</html>
