table
{
    border:1px solid #999999;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width:1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.DDTextBox
{
    width:2.4em;
    text-align:center;
}
tfoot.doseCatTable 
{
    background-color: #5D7B9D;
    color: #FFFFFF;
}
ul
{
    list-style-type: none;
}
fieldset li
{
    min-height:3em;   
}
label.entireCheck
{
    font-size:0.5em;
    width:4em;
}
.fieldLabel
{
      display: inline-block;
      text-align: right;
}
div.fieldLabel 
{
  font-style: oblique;
  height: 2em;
  padding-top: 1em;
  vertical-align: top;
  width: 11em;
  padding-right:1em;
}
span.fieldLabel
{
  width:8.6em;
}
.describe
{
    font-size: 0.7em;
    margin-left:4.3em;
}
.balanceValidators 
{
    width: 3.1em; 
    display: inline-block;
}
.fieldInputs {
  border: 2px inset #DDDDDD;
  display: inline-block;
  padding: 4px 0 0 6px;
  margin: 3px;
  width: 18.6em;
}
.minMax {
  display: inline-block;
  width: 8.2em;
}
.minMax span 
{
    float:left;
}
.midVert {
  display: inline-block;
  height: 2em;
  margin-top: 0;
  padding-top: 0.4em;
  vertical-align: top;
}
.unit
{
    font-size:80%;
}
.below {
  margin: 2em 0 0 -7em;
  position: absolute;
}
.radioVert {
  display:inline-block;
}
.radioVert span
{
    display:block;
} 
span.longTB
{
    width:100%;
    display:inline-block;
}
.longTB input.DDTextBox 
{
    width:18em;
    text-align: left;
}
span.longTB span.DDValidator input
{
    display:inline;
}
.concOptions {
  vertical-align:top;
}
.hrefDescription
{
   font-size:0.6em;   
}
.alternateListItem
{
    background-color:#FFFDD1;
    border: 1px solid #BBBBBB;
}
.singleInput {
    text-align:right;
}
.singleInput input[type=text]{
    margin:0 0 0.5em 1em;
}